@model Scheduler2.Models.Schedule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Удаление задачи</h3>
    <div>
        <h4>Планировщик</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ScheduleDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Удаление" class="btn btn-default" /> |
                @Html.ActionLink("Возврат к списку", "Index")
            </div>
        }
    </div>
</body>
</html>
