@model Scheduler2.Models.Schedule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h3>Детали</h3>
    <div>
        <h4>Планировщик</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ScheduleDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактирование", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Возврат к списку", "Index")
    </p>
</body>
</html>
