@model IEnumerable<Scheduler2.Models.Schedule>

@{
    Layout = null;
}

<!DOCTYPE html>

<style type="text/css" media="screen">
    table, th, td {
        border: 1px solid black;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Добавить задачу", "Create")
    </p>
    <table class="table">
        <tr style="color:blue;background-color:beige">
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Редактирование", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
